@font-face {
  font-family: "Alagard";
  src: url(../assets/fonts/Alagard.ttf);
}
@font-face {
  font-family: "IM Fell English";
  src: url(../assets/fonts/IMFellEnglish-Regular.ttf);
}
@font-face {
  font-family: "IM Fell English Italic";
  src: url(../assets/fonts/IMFellEnglish-Italic.ttf);
}

html {
  font-family: "Alagard";
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #D9A066;
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}
body {
  font-family: "Alagard","IM Fell English","IM Fell English Italic";
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}
button {
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}
button:hover {
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}
button::after {
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}
.dropdown {
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  color: black;
}

a:hover {
  color:#a50202;
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}

.js-lib-a
{
  color: #a50202;
  white-space: nowrap;
}

.nowrap
{
  white-space: nowrap;
}

#loading {
  width: 100vw;
  height: 100vh;
  color: black;
  font-family: "Alagard";
  text-align: center;
  z-index: 10;
  position: absolute;
}

#loading-text {
  margin-top: 6.5%;
  font-size: 2rem;
}

#loading-text:after {
  animation: dots 2s linear infinite;
  content: '';
  color: black;
}

@keyframes dots {
  0%, 20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60% {
    content: '...';
  }
  90%, 100% {
    content: '';
  }
}

#enable-sound {
  height: 100vh;
  width: 100vw;
  position: absolute;
  padding-top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Alagard";
  text-align: center;
  z-index: 10;
  display: none;
}
#enable-sound-btn {
  font-size: 2em;
}

#svg-wrapper {
  background-color:#ddd0b9;
  position: absolute;
  height: 30%;
  top:70%;
  min-height: 30%;
  width: 100vw;
  display: block;
}
/* #svg-wrapper {
  background-color:#ddd0b9;
  position: absolute;
  height: 44%;
  top: 50%;
  margin: 70vh 0 0;
  transform: translate(0%, -113.64%);
  width: 100vw;
  display: block;
} */
#disclaimer {
  text-align: center;
  margin-top: 5vh;
  font-size: 1.4rem;
  color: black;
}

#song-svg {
  position: absolute;
  height: 44%;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: #ddd0b9;
  margin: 1% auto;
  place-items: center;
  width: 1050px;
  max-width: 75%;
  z-index: 0;
}

/* #song-svg:before {
  content:"";
  background-color:#ddd0b9;
  position: absolute;
  height: 100%;
  width: 100vw;
  left: -2000px;
  z-index: -1;
} */

.ChantScore {
  margin: .5% 0;
  background-color: #ddd0b9;
  overflow:hidden;
}

.ChantNotationElement {
  fill: black;
}

.ChantNotationElement:hover {
  fill: #a50202 !important;
}

/* SVG HITBOXES */
.Accidental {
  stroke: pink;
  stroke-width: 7rem;
  stroke-opacity: 0%;
}
.dividerLine {
  stroke: pink;
  stroke-width: 1rem;
  stroke-opacity: 0%;
}
.glyph {
  stroke: pink;
  stroke-width: 10rem;
  stroke-opacity: 0%;
}
.neumeLine {
  stroke: pink;
  stroke-width: .7rem;
  stroke-opacity: 0%;
}
.annotation {
  stroke: pink;
  stroke-width: 1rem;
  stroke-opacity: 0%;
}
/* END SVG HITBOXES */

.annotation:hover {
  fill: #a50202;
}

.dropdown-menu {
  background-color: #402D2B;
}

.dropdown-item {
  color: white;
}

#TextMeasurer {
  display: none;
}

body {
  background-color: #D9A066;
}

#left-content {
  position:absolute;
  top: 0;
  left: 0.6vw;
  margin: 1% 0.5%;
  width: 30%;
  z-index: 3;
}

#title {
  font-size: 3vw;
  font-family: "Alagard";
  color: black;
  margin: 0;
  position: relative;
  z-index: 6;
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}

#title:hover {
  color: #a50202;
  /* color: #B40101; */
  /* color: #cb3d24; */
  /* color: #cd3d24; */
}

.btn {
  font-family: "Alagard";
  color: white;
  background-color: #402D2B;
  border-color: #402D2B;
  font-size: 1.3vw;
  margin: .35rem 0;
}

.btn:hover {
  background-color: #2b1f1e;
  color: white;
  border-color: #2b1f1e;
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}

.btn:disabled:hover {
  background-color:#373c3f;
  border-color:#373c3f;
  cursor:not-allowed;
}

.dropdown-item {
  font-family: "Alagard";
  cursor: url(../assets/cursors/cursor-finger.png), auto;
  font-size: 1.3vw;
  z-index: 4;
}

#monks-closed {
  position: absolute;
  z-index: -3;
  bottom: 30%;
  height: 44%;
  left: 50%;
  transform: translateX(-50%);
}
#monks-open {
  position: absolute;
  z-index: -2;
  height: 44%;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}
#monks-closed-noeyes {
  position: absolute;
  z-index: -1;
  height: 44%;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#speech-box {
  font-family: "Alagard";
  font-size: 1.25vw;
  position: absolute;
  height: 2%;
  top: 22%;
  left: 22%;
  right: 22%; /* 22% */
  display: flex;
  align-items: flex-end;
  margin: 6px 6px;
  z-index: 5;
}

#speech-text {
  position: absolute;
  margin: 2px 6px;
  border-color: #402D2B;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  border-color: #402D2B;
  background-color: #ddd0b9;
  padding: 6px 14px;
  display: none;
  transition: color 0.10s;
  z-index: 8;
}

#ghost-box {
  font-family: "Alagard";
  font-size: 1.25vw;
  position: absolute;
  height: 22%;
  top: 2%;
  left: 22%;
  right: 22%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 6px 6px;
  z-index: -8;
}

#ghost-text {
  position: absolute;
  margin: 2px 6px;
  /* border-style: solid;
  border-width: 1px; */
  border-radius: 10px;
  border-color: black;
  background-color: #ddd0b9;
  padding: 6px 14px;
  opacity: 0;
}

.green-text {
  color: #105719;
  /* color: #136b1f; */
}
.red-text {
  color: #a50202;
}
.blue-text {
  color:rgb(36, 36, 142);
  /* color:rgb(0, 0, 197); */
}
#blue-text-div {
  font-family: "Alagard";
  position: relative;
  display: none;
  font-size: 1.25vw;
  background-color: #ddd0b9;
  border-color: #402D2B;
  border-style: solid;
  border-width: 6px;
  z-index: 50;
  max-width: 20%; /*250px*/
  padding: 6px;
}
#blue-div-text {
  margin: auto;
}
#word-form {
  color: #105719;
}
#def {
  color: black;
  /* color: #a50202; */
  /* color: #B40101; */
}

#hide-span {
  display: none;
}

#right-content {
  position:absolute;
  top: 0;
  right: 0.6vw;
  margin: 1% 0.5%;
}
.right-btn {
  float: right;
}

/* INFO WINDOW */
#info-window {
  font-family: "IM Fell English";
  font-size: 1.2rem;
  display: none;
  position: absolute;
  top: 2%;
  left: 11%;
  right: 11%;
  border-color: #402D2B;
  border-style: solid;
  border-width: 6px;
  background-color: #ddd0b9;
  z-index: 5;
  color: black;
  padding: 12px;
}
#info-window p {
  margin: 0 24px 6px;
}
.info-sub-a {
  display: block;
  text-align: center;
  width: 60%;
  margin: auto;
}
#info-window img {
  margin: 12px auto 18px;
}
i {
  font-family: "IM Fell English Italic";
  font-style: normal;
}
.italic {
  font-family: "IM Fell English Italic";
  font-style: normal;
}
cite {
  font-family: "IM Fell English Italic";
  font-style: normal;
}
.citations {
  margin-top: 24px;
  font-size: .9em;
  text-align: right;
}
.indent {
  text-indent: 2em;
}
.double-indent {
  text-indent: 4em;
}
#x {
  position: absolute;
  margin: 10px;
  right: 4px;
  font-size: 1.2rem;
}
#x:hover {
  color:#a50202;
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}
.info-title {
  text-align: center;
  font-size: 1.4rem;
  margin: 12px;
}
.info-subtitle {
  text-align: center;
  font-size: 1.2rem;
}
.img-sub {
  padding: 2px 0 8px;
  text-align: center;
}
#dictionary {
  display: none;
}
#history {
  display: none;
}
#notation {
  display: none;
}
#modes {
  display: none;
}
#bibliography {
  display: none;
}
#about {
  display: none;
}
#gigachad {
  width: 50%;
  margin: auto;
  display: block;
}
#clefs-wrapper {
  text-align: center;
}
.clefs-and-txt {
  display: inline-block;
  text-align: center;
  width: 221px;
  margin: 0 2.2rem;
  padding: 2px 0 8px;
}
#solfege-staff {
  display: block;
  width: 60%;
  margin: 0 auto;
}
#modes {
  max-height: 80%;
}
#modern-modes-img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
#gregorian-modes-img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
#neumatic-notation-img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
#notes-img {
  display: block;
  width: 40%;
  margin: 0 auto;
}
#neume-img {
  display: block;
  width: 15%;
  margin: 0 auto;
}
#body-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -50;
}
/* END INFO WINDOW */

/* #history {
  font-family: "Alagard";
  display: none;
  position: absolute;
  height: 90%;
  top: 2%;
  left: 24%;
  right: 24%;
  border-color: #402D2B;
  border-style: solid;
  border-width: 6px;
  background-color: #ddd0b9;
  z-index: 4;
} */

.footnote {
  color:#a50202;
}
.footnote:hover {
  cursor: url(../assets/cursors/cursor-finger.png), auto;
}

#disclaimer {
  display: none;
}

/* RESPONSIVE CSS */
@media screen and (max-width: 500px) {
  #disclaimer {
    display: block;
  }
  #title {
    font-size: 9vw;
    text-align: center;
  }
  #left-content {
    margin-top: 5vh;
    width: 100vw;
  }
  #loading-text {
    margin-top: 40%;
  }
  .btn {
    display: none;
  }
  #speech-box {
    display: none;
  }
  #ghost-box {
    display: none;
  }
  #monks-closed {
    height: 16%;
    max-width: 100%;
    bottom: 50%;
  }
  #monks-open {
    height: 16%;
    max-width: 100%;
    bottom: 50%;
  }
  #monks-closed-noeyes {
    height: 16%;
    max-width: 100%;
    bottom: 50%;
  }
  #svg-wrapper {
    height: 50%;
    top: 50%;
  }
}

@media screen and (min-width: 500px) and (max-width: 500px) {
  #title {
    font-size: 4vw;
  }
  #left-content {
    width: 40%;
  }
  .btn {
    font-size: 1.8vw;
  }
}